* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	padding: 12px;
	min-width: 210px;
	background: #555;
}
main {
	background: #333;
	padding: 5px;
}
h1, h2 {
	text-align: center;
}
h1, h2, h3, input, div, select {
	color: #ccc;
}
input, input::placeholder {
	background: #333;
	color: #ccc;
}
select, select option {
	background: #333;
	cursor: pointer;
}
input:focus-visible, button:focus-visible {
	outline: none;
}
/*Desarrollo*/
.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px 0;
}
.form__div {
	min-width: 120px;
	margin: 5px;
	border: 1px solid #ccc;
	border-radius: 50px;
}
.form__div:active {
	background: #ccc3;
}
.input {
	padding: 6px 8px;
	border: none;
	cursor: pointer;
	white-space: pre-wrap;
	background: none;
	width: 100%;
}
.desarrollo h2 {
	padding-bottom: 3px;
}
.desarrollo__div {
	border-top: 1px solid #ccc;
	padding: 10px;
}
.button {
	border-radius: 5px;
	width: 30px;
	height: 30px;
	margin: auto;
}
::-webkit-inner-spin-button { 
  display:none;
}
::-webkit-calendar-picker-indicator {
	background-color:white
}
::-webkit-datetime-edit-text {
	color:#555555;
}
::-webkit-datetime-edit-month-field {
	color:#555555; 
}
::-webkit-datetime-edit-day-field {
	color: #555555; 
}
::-webkit-datetime-edit-year-field {
	color:#555555; 
}
::-webkit-calendar-picker-indicator {
	background-image: url(../img/Calendar-icon.png);
	background-position:center;
	background-size:20px 20px;
	background-repeat:no-repeat;
	color:rgba(204,204,204,0);
}
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
}
