/*Proyecto 1*/
.f1 {
	display: flex;
}
.f1__container {
	display: grid;
	grid-template-columns: 70px 70px;
	max-width: 300px;
}
.f1__container input {
	padding: 10px;
}
.f1__answer {
	padding: 15px;
}
.f1__answer button {
	width: 35px;
	height: 38px;
	font-size: 35px;
}
.f1__input1-down {
	grid-column: 1 / 3;
}
/*Proyecto 2*/
.f2 {
	display: flex;
	justify-content: space-between;
	padding: 0 45px;
}
.f2__operatetor {
	flex-grow: 1;
}
.f2__content {
	display: flex;
}
.f2__firstValue-input, .f2__secondValue-input, .f2__thirdValue-input, .f2__unknownValue-input {
	width: 40px;
}
.f2__zeroValue-input {
	width: 11px;
	height: 11px;
	border-radius: 20%;
	display: inline-block;
	border-radius: 50px;
	cursor: pointer;
}
.f2__button-inactive {
	background: #d11;
}
.f2__button-active {
	background:  #11d;
}
.f2__none {
	display: none;
}
.f2__block {
	display: block;
}
.f2__history__content {
	/*width: 100%;*/
	flex-grow: 6;
}
.f2__history__content h4 {
	text-align: center;
}
.f2__history {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
/*Proyecto 3*/
.f3__div-inline {
	display: inline-block;
	margin: 0 10px;
	font-family: monospace;
}
.f3__div-block {
	display: block;
	margin: 0 10px;
	font-family: monospace;
}
.f3__none {
	display: none;
}
.f3__block {
	display: block;
}
.f3__numbers-input {
	width: 11px;
	height: 11px;
	border-radius: 50px;
	display: inline-block;
}
.f3__numbers-input:hover {
	cursor: pointer;
}
.f3__button-inactive {
	background: #d11;
}
.f3__button-active {
	background:  #11d;
}
.f3__error-active {
	display: block;
	background: #300;
    border: 1px solid #a00;
    border-radius: 50px;
    color: #f77;
	padding: 5px 10px;
	width: 225px;
}
.f3__error-inactive {
	display: none;
}
.f3__submit {
	border: 2px inset;
	border-color: #777 #888;
	cursor: pointer;
}
/*Proyecto 4*/
.f4, .f4__buttons {
	display: grid;
	grid-gap: 10px;
	align-items: start;
}
.f4 {
	grid-template: 
	"window history" 53px
	"button history" auto
	/7fr    4fr;
}
.f4__window {
	grid-area: window;
	background: #cfc;
	border-radius: 8px;
	padding: 5px 14px;
	overflow-y: overlay;
}
.f4__window-operation, .f4__window-text, .f4__window-answer {
	color: #000;
}
.f4__window-quest {
	width: 100%;
	display: flex;
	font-family: monospace;
	font-size: 16px;
}
.f4__window-text {
	font-weight: 700;
	animation: animate-blink 1s forwards infinite;
}
.f4__window-answer {
	text-align: right;
	font-family: DS-DIGI;
	font-size: 20px;
}
.f4__history {
	grid-area: history;
}
.f4__buttons {
	grid-area: button;
	grid-template-columns: repeat(5,1fr);
}
.f4__buttons button {
	cursor: pointer;
	border: none;
	background: #777;
	border-radius: 3px;
	height: 30px;
	font-size: 15px;
    font-weight: 700;
    color: #fff;
	box-shadow: 1px 1px 5px 0 #000;
}
.f4__buttons button:nth-child(4), .f4__buttons button:nth-child(5) {
	background: #c55;
}
/*Proyecto 8*/
.f8 {
	display: grid;
	grid-template-columns: 1fr;
}
.f8__display {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.f8 label {
	margin: 10px;
	text-align: center;
}
.f8__button {
	border-radius: 5px;
	width: 40px;
	height: 20px;
	cursor: pointer;
}
.f8__div {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
#inTemperatur, #inFood {
	width: 70%;
}
#inTemperatur, #inFood {
	cursor: e-resize;
}
/*Proyecto 9*/
.f9__input {
	margin:  10px;
	padding: 5px;
	border-radius: 10px;
}
/*Proyecto 11*/
.f11__reloj {
	background: linear-gradient(#111,#666);
	border: 1px solid #000;
	display: inline-flex;
	border-radius: 8px;
}
.f11__reloj div {
	color: #fff;
	padding: 5px 7px;
	font-size: 30px;
	font-family: monospace;
	border: 1px solid #000;
	border-radius: 8px;
}
.f11__button {
	border-radius: 8px;
	padding: 5px 7px;
	cursor: pointer;
}
/*Proyecto 12*/
.modal-overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	/*position: absolute;*/
	/*opacity: 0;*/
	/*animation: aparecer 1s forwards;*/
}
.modal {
	background:  #333;
}
.modal button {
	padding: 9px 20px;
	border: none;
	margin: 3px 9px;
	background: #ddd;
}
.modal button:hover {
	background: #ccc;
}
.remove {
	display: none;
}
/*Proyecto 13*/
.textures {
	margin: 10px;
	border: 1px solid #000;
	border-radius: 5px;
	user-select: none;
}
.textures div {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 6px;
	user-select: all;
	cursor: pointer;
}
.textures div:active {
	opacity: .5;
}
.texture0 {background: url("../img/textura0.png");}
.texture1 {background: url("../img/textura1.png");}
.texture2 {background: url("../img/textura2.png");}
.texture3 {background: url("../img/textura3.png");}
.zone {
	margin: 10px;
	background: #ddd;
	height: 200px;
}
/*Proyecto 14*/
.f14__result {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-auto-rows: 100px;
	grid-gap: 6px;
}
.f14__result img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.f14__result img:first-child {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}
.f14__result img:nth-child(6) {
	grid-column: 2 / 4;
	grid-row: 3 / 5;
}
.f14__result img:nth-child(10) {
	grid-row: span 2;
}
.f14__result img:nth-child(22) {
	grid-row: span 2;
}
.f14__result img:nth-child(28) {
	grid-row: span 2;
}
/*Proyecto 15*/
.container15, .loading-bar15 {
	padding: 60px 20px;
	border: 4px dashed #222;
	max-width: 500px;
	color: #888;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	font-size:  20px;
	position: relative;
	z-index: 10;
	/*cursor: context-menu;*/
}
.loading-bar15 {
	position: absolute;
	width: 0;
	left: 0;
	right: 0;
	margin-top: 0;
	padding: 0;
	z-index: 0;
	border: none;
	background: #9cf;
	transition: width 0.2s, background 0.1s;
}
.result15 {
	text-align: center;
	padding: 20px;
}
.img15 {
	margin: auto;
	width: 100%;
}
/*Proyecto 16*/
.names {
	max-width: 800px;
	margin: auto;
	margin-top: 40px;
}
.name {
	display: grid;
	grid-template-columns: minmax(100px, 300px) 1fr;
	border-top: 1px solid #48e;
}
.options {
	display: flex;
	justify-self: end;
}
.add-names {
	margin-top: 40px;
	text-align: center;
}
#name, #add {
	padding: 4px 8px;
}
.options button {
	background: transparent;
	border: none;
	margin: 4px 10px;
}
#add, .delete {
	cursor: pointer;
}
.delete:hover {
	color: #999;
}
.impossible {
	color: #ccc;
}
.possibly {
	color: #37d;
	cursor: pointer;
}
.possibly:hover {
	color: #6af;
}
.name h2 {
	padding: 6px;
	color: #48e;
	outline-color: #48e;
}
.noMore {
	padding: 30px;
}
/*Proyecto 16*/
.publicacion {
	text-align: left;
	margin: 20px;
	animation: aparecer 1s forwards .5s;
	opacity: 0;
}
.publicacion p {
	padding: 10px 20px;
	border-left: 2px solid #48e;
}
.publicacion h3 {
	color: #48e;
	border-bottom: 2px solid #48e;
	display: inline-block;
	padding: 0;
	margin-bottom: 0;
}
.comentarios {
	display: flex;
}
.comentarios input {
	padding: 8px 12px;
	border: none;
	background: #59e;
	color: #fff;
}
.comentarios input[type="text"] {
	flex-grow: 1;
}
.comentarios input[type="submit"] {
	min-width: 60px;
	font-weight: 700;
	font-family: monospace;
	cursor: pointer;
}
.comentarios input[type="text"]::placeholder {
	color: #bcf;
	text-shadow: none;
}
/*Proyecto 18*/
.button18 {
	padding: 5px;
}
/*Proyecto 19*/
.f19 {
	display: flex;
}
.f19__add {
	margin-right: 10px;
	padding: 2px 6px;
	border-radius: 5%;
	height: min-content;
	border: 1px solid #666;
}
.f19__add-Div {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.f19__add-Div input {
    padding: 5px 8px;
    border-radius: 18px;
    border: 1px solid #ccc;
    width: 187px;
}
.f19__add-Div input:focus-visible {
    outline-style: none;
}
.f19__add-date {
	text-align: center;
}
.f19__add-Div input[type="submit"] {
	margin: 4px 1px;
	width: 57.5px;
}
.f19__add-submit:hover {
	background: #ccc;
	color: #333;
	cursor: pointer;
}
.f19__add__error-content {
	background: #300;
	border: 1px solid #a00;
}
.f19__add-error, .f19__add-error h3 {
	color: #f77;
}
.f19__add-error input {
	border-color: #a00;
/*	background: #300;
    color: #f77;*/
}
.f19__update {
	width: 100%;
}
.f19__update__head-container, .f19__update__saved-content {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 225px;
	/*75 * 3*/
}
.f19__update-div, .f19__update__header, .f19__update__title, .f19__update__save__title, .f19__update-optionsMaths,
.f19__update-optionsButtons, .f19__update-percentage, .f19__update__saved {
	display: grid;
	align-items: center;
	justify-items: center;
}
.f19__update-div {
	grid-template-columns: 10fr 1fr;
	padding: 10px 0;
	min-height: 75px;
	border-top: 1px solid #333;
}
.f19__update__header {
	grid-template-columns: repeat(3, 1fr);
	margin: 5px 0;
}
.f19__update__title, .f19__update__save__title {
	grid-template-columns: 28px 160px repeat(4, 1fr) 140px;
}
.f19__update__title, .f19__update__save__title, .f19__update__header-save, .f19__update__header-delete, .f19__update__save-save,
.f19__update__save-delete {
	font-weight: 600;
}
.f19__update-optionsMaths, .f19__update-optionsButtons {
	grid-template-columns: repeat(5, 1fr);
	text-align: center;
}
.f19__update__header h3 {
	text-align-last: center;
}
.f19__update__header-buttons {
	display: flex;
	justify-content: space-between;
}
.f19__update-main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100%;
}
.f19__update__header-svg, .f19__update__saved-svg, .f19__update__title-svg, .f19__update-finish, .f19__update-check {
	cursor: pointer;
	height: 22px;
	width: 25px;
}
.f19__update__saved-svg {
	transform: rotateZ(-90deg);
}
.f19__update__header-svg, .f19__update__saved-svg {
	justify-self: self-start;
	transition: transform .5s;
}
.f19__update-unLock, .f19__update-lock {
	fill: #ccc;
	transform: scale(2.2);
	stroke-width: .3;
	stroke: #222;
}
.f19__update-circleBack, .f19__update__save-circleBack, .f19__update-checkBack {
	fill: #ccc;
	transform: scale(1.8);
	stroke-width: .3;
	stroke: #000;
}
.f19__update-circleFront, .f19__update__save-circleFront, .f19__update-checkFront {
	transform: scale(1.8);
	stroke: none;
}
.f19__update-circleFront:active, .f19__update__save-circleFront:active, .f19__update-checkFront:active {
	fill: #aaa;
}
.f19__update-name {
	margin: auto 0;
	color: #49f;
	outline-color: #48e;
	width: 150px;
	text-align: center;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}
.f19__update-percentage {
	grid-template-columns: repeat(2, 1fr);
}
.f19__update-percentageEntire {
	white-space: nowrap;
}
.f19__update-time {
	grid-column: 1 / 3;
}
.f19__update-percentageInput {
	width: 45px;
	border: none;
	background: #aaa5;
	text-align: end;
	border-radius: 50px;
    padding: 1px 5px;
}
.f19__update-percentageInput[disabled] {
	color: #999;
}
.f19__update-theProgressDiv {
	width: 100%;
	padding-right: 8px;
}
.f19__update-numberProgress {
	text-align: right;
}
.f19__update-containerProgress {
	display: flex;
	background: #253;
	border-radius: 15px;
	width: 100%;
	height: 25px;
	padding: 0 3px;
	align-items: center;
}
.f19__update-theProgress {
	height: 19px;
	border-radius: 15px;
	background: linear-gradient(90deg, #454, #1d1);
	animation: upLoad 3s forwards;
    min-width: 16px;
}
.f19__update-theProgress::before {
	content: '';
	display: block;
    width: 100%;
    height: 100%;
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, #fff2 25%, transparent 25%,
    	transparent 50%, #fff2 50%, #fff2 75%, transparent 75%, transparent);
    animation: animate-stripes 0.6s linear infinite;
    background-color: #000;
    opacity: 0.75;
    mix-blend-mode: overlay;
    border-radius: 50px
}
.f19__update-containerProgress:hover {
	border: 1px solid #000;
}
.f19__update-optionsButtons {
	grid-template-columns: repeat(2, 70px);
	grid-gap: 10px 0;
}
.f19__update__header-buttons button, .f19__update-toUpdate, .f19__update-toUpdated, .f19__update-save, .f19__update-saved,
.f19__update-delete {
	background: transparent;
	border: none;
	margin: 0 6px;
	cursor: pointer;
	color: #ccc;
}
.f19__update-toUpdate, .f19__update-toUpdated {
	grid-column: 1 / 3;
}
.f19__update__header-save:hover, .f19__update__save-save:hover .f19__update-save:hover {
	color: #4c8;
}
.f19__update__header-delete:hover, .f19__update__save-delete:hover, .f19__update-delete:hover {
	color: #c84;
}
.f19__update-toUpdate:hover {
	color: #48c;
}
.f19__update-saved, .f19__update-toUpdated {
	color: #999;
	cursor: default;
}
.f19__update-save {
	color: #4c8;
}
.f19__update__saved {
	grid-template-columns: repeat(3, 1fr);
	margin: 5px 0;
}
.f19__update__saved h3 {
	text-align-last: center;
}
/*Proyecto 20*/
.f20__editor {
	background: #fff;
	width: fit-content;
	margin: auto;
	margin-top: 50px;
}
.f20__editor div {
	background: #222;
	padding: 5px;
}
.f20__canvas {
	border: 1px solid #000;
	cursor: crosshair;
}
#f20__lw {
	width: 425px;
	height: 20px;
}
#f20__color {
	width: 60px;
	height: 40px;
}
/*Proyecto 21*/
.f21 {
	display: grid;
	grid-template-columns: 3fr 5fr 3fr;
}
.f21__container input {
	padding: 6px 8px;
    cursor: pointer;
	border: 1px solid #ccc;
    border-radius: 20px;
    background: none;
    color: #ccc;
    margin: 4px 1px;
}
.f21__develop h3, .f21__history h3 {
	text-align: center;
}
/*Proyecto 22*/
.f22 {
	display: grid;
	grid-template-columns: min-content 1fr min-content;
	grid-gap: 5px;
	justify-items: center;
}
.f22__quest {
	display: flex;
	flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 250px;
}
.f22__quest input[value="Enviar"], .f22__options-button {
	padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    background: none;
    color: #ccc;
    margin: 5px;
}
.f22__develop {
	display: flex;
	flex-direction: column;
    align-items: center;
    min-height: 100%;
}
.f22__develop input:focus-visible {
     outline: #000 auto 1px;
}
.f22__quest div input {
	width: 170px;
	padding: 6px 8px;
}
.f22__quest div:nth-child(6), .f22__time, .f22__right-input, .f22__right-active, .f22__right-input, .f22__right-inactive {
	padding: 3px 7px;
}
.f22__time-Button, .f22__commit-Button, .f22__object-Button {
    border: 1px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    background: none;
    color: #ccc;
    margin: 5px 0;
    width: 170px;
}
.f22__time input, .f22__right-input input[type="number"] {
	padding: 3px 4px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background: none;
    color: #ccc;
    width: 30px;
    text-align: center;
}
.f22__quest .f22__ERR {
	width: 170px;
}
.f22__ERR {
    background: #300;
    border: 1px solid #a00;
    border-radius: 50px;
	color: #f77;
	text-align: center;
	margin: 5px 0;
}
.f22__ERR[type="button"] {
	cursor: pointer;
}
.f22__commit, .f22__object {
	display: grid;
	grid-template-columns: 1fr 7fr;
	justify-items: start;
	width: 100%;
}
.f22__commit__left-button, .f22__object__left-button {
	padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    background: none;
    color: #ccc;
    font-size: 20px;
    position: sticky;
    top: 10px;
}
.f22__right-content {
	display: grid;
	grid-template-columns: 1fr 40px;
}
.f22__right-div {
	display: grid;
	grid-template-columns: 2fr 7fr;
	grid-gap: 5px;
	align-items: center;
	padding: 10px 14px;
    border-bottom: 1px solid #ccc;
    background: none;
    margin: 15px 0;
}
.f22__right-div input, .f22__right-div div[contenteditable="true"], .f22__right-div select {
	border: 1px solid #ccc;
    border-radius: 50px;
	margin: 3px 2px;
	padding: 3px 8px;
	overflow-wrap: anywhere;
}
.f22__right-div div:nth-child(4) {
	text-align: center;
	border: none;
}
.f22__right-div div:nth-child(10) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
}
.f22__right-div input[type="text"] {
    cursor: text;
    background: none;
    color: #ccc;
}
.f22__right-inactive {
    cursor: pointer;
    background: none;
    color: #ccc;
}
.f22__right-active {
    cursor: pointer;
	background: #ccc;
	color: #000;
}
.f22__right__delete {
	cursor: pointer;
	translate: 0 15px;
	transform: scale(3.4);
    height: 15px;
    width: 15px;
}
.f22__right__delete:hover > path:nth-child(1) {
	rotate: 30deg;
	translate: 5px -1px;
}
.f22__right__delete:hover > path:nth-child(2) {
	rotate: -5deg;
	translate: 2px 4px;
}
.f22__right__delete path {
	fill-rule: evenodd;
	fill: #ccc;
	translate: 1px 4px;
	transition: all .4s;
}
.f22__admin__time {
	min-width: 80px;
	text-align: center;
}
.f22__admin__date {
	display: grid;
	grid-gap: 10px;
	align-items: center;
    justify-items: center;
	width: 230px;
	padding-top: 10px;
	font-size: 13px;
}
.f22__admin__date div {
	width: 100%;
	height: 10px;
}
.f22__admin__date-t {
	border: 1px solid #ccc;
}
.f22__schedule {
	grid-column: 1 / 3;
}
.f22__days-content {
	grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 65px repeat(7,1fr);
    margin: 0 10px;
	text-align: center;
/*	grid-gap: 5px;*/
}
.f22__days-day {
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0 5px;
    overflow-wrap: anywhere;
}
/*Responsive*/
@media screen and (max-width: 600px) {
	.f2__content, .f11__reloj {
		flex-direction: column;
	}
}
@media screen and (max-width: 942px) {
	.flex, .f19 {
		flex-direction: column;
	}
	.f19 {
		align-items: center;
	}
	.f19__add {
		margin: initial;
		text-align: center;
	}
	.f19__update-div {
		height: 238px;
		grid-template-columns: none;
		justify-items: center;
		margin: 0 10px;
		width: 200px;
	}
	.f19__update__title, .f19__update__save__title {
		display: none;
	}
	.f19__update__head-container, .f19__update__saved-content {
		max-height: 476px;
		/*238 * 2*/
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.f19__update-optionsMaths {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.f19__update-main {
		grid-template-columns: repeat(3, 1fr);
	}
	.f19__update-name {
		grid-column: 2 / 3;
    	grid-row: 1 / 2;
	}
	.f19__update-optionsButtons {
		grid-gap: initial;
		height: 60px;
	}
}
@media screen and (max-width: 850px) {
	.f22 {
		grid-template-columns: initial;
		Justify-content: center;
	}
	.f22__schedule {
		display: flex;
		height: 600px;
		align-items: center;
	}
	.f22__days-content {
		transform: rotate(90deg);
		width: 600px;
	}
}
/*Animaciones*/
@keyframes aparecer {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes desaparecer {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes upLoad {
	0% {
		width: 0;
	}
}
@keyframes animate-stripes {
	0% {
	    background-position: 0 0;
	}
	100% {
	    background-position: 60px 0;
	}
}
@keyframes animate-rotate {
	from {
	    transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(200deg);
	}
}
@keyframes animate-blink {
	0% {
		filter: opacity(1);
	}
	50% {
		filter: opacity(0);
	}
	90% {
		filter: opacity(1);
	}
	100% {
		filter: opacity(1);
	}
}
