.container {
   display: block;
}
.f22 {
	display: grid;
	grid-template-columns: min-content minmax(0,800px) 1fr;
	grid-gap: 5px;
	justify-items: center;
}
.f22__quest {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	min-width: 200px;
}
.f22__quest input[value="button"], .f22__options-button, .f22__schedule-input {
	padding: 6px 8px;
	border: 1px solid var(--border);
	border-radius: 50px;
	cursor: pointer;
	margin: 5px;
}
.f22__quest input[value="button"]:hover, .f22__options-button:hover, .f22__schedule-input:hover {
   background: var(--hover);
}
.f22__quest input[value="button"]:active, .f22__options-button:active, .f22__schedule-input:active {
	background: var(--active);
}
.f22__develop {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	width: 100%;
}
.f22__develop input:focus-visible {
	outline: #000 auto 1px;
}
.f22__quest div input {
	padding: 6px 8px;
	margin: 5px 0;
	width: 100%;
}
.f22__quest div:nth-child(6), .f22__right-input, .f22__right-active, .f22__right-input, .f22__right-inactive {
	border: 1px solid var(--border);
}
textarea.f22__right-input {
	height: 52px;
	overflow-y: auto;
	resize: none;
	background: none;
   color: var(--color-text);
}
textarea.f22__right-input::-webkit-scrollbar-thumb {
	background-color: var(--border);
}
.f22__quest .f22__ERR {
	min-width: 170px;
}
.f22__time {
	margin: 10px 0;
}
.f22__time-content, .f22__commit-content, .f22__object-content, .f22__options-Button {
	width: 100%;
}
.f22__time-Button, .f22__commit-Button, .f22__object-Button {
	border: 1px solid var(--border);
	cursor: pointer;
	background: none;
	border-radius: 50px;
}
.f22__time-Button:active, .f22__commit-Button:active, .f22__object-Button:active, .f22__options-Button input:active {
	background: #ccc3;
}
.f22__time input, .f22__right-input-number {
	padding: 3px 4px;
	border: 1px solid var(--border);
	border-radius: 50px;
	background: none;
	width: 30px;
	text-align: center;
}
.f22__options-Button {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 5px;
}
.f22__options-Button input {
	border: 1px solid var(--border);
	cursor: pointer;
	background: none;
	border-radius: 50px;
}
.f22__ERR {
	background: var(--err-background);
	border: 1px solid var(--err-border);
	color: var(--err-color);
	text-align: center;
	border-radius: 50px;
}
.f22__ERR[type="button"] {
	cursor: pointer;
}
.f22__commit, .f22__object {
	display: grid;
	grid-template-columns: 1fr 7fr;
	justify-items: center;
	width: 100%;
}
.f22__commit__left-button, .f22__object__left-button {
	padding: 5px 10px;
	border: 1px solid var(--border);
	border-radius: 50px;
	cursor: pointer;
	background: none;
	font-size: 20px;
	position: sticky;
}
.f22__commit__left-button:active, .f22__object__left-button:active {
	background: #ccc3;
}
.f22__commit__left .f22__commit__left-button:nth-child(1), .f22__object__left .f22__object__left-button:nth-child(1) {
	top: 10px;
}
.f22__commit__left .f22__commit__left-button:nth-child(2), .f22__object__left .f22__object__left-button:nth-child(2) {
	bottom: 10px;
}
.f22__right-content {
	display: grid;
	grid-template-columns: 1fr 40px;
}
.f22__right-div {
	display: grid;
	grid-template-columns: 1fr 8fr;
	grid-gap: 5px;
	align-items: center;
	padding: 0 20px 5px 0;
	border-bottom: 1px solid var(--border);
	background: none;
	margin: 15px 0;
}
.f22__right-div input[type="button"], .f22__right-div select {
	margin: 3px 2px;
	border-radius: 50px;
	overflow-wrap: anywhere;
	padding: 3px 8px;
}
.f22__right-div input[type="button"]:active {
	background: #ccc3
}
.f22__right-div .f22__right-input {
	border: 1px solid var(--border);
	/* border-radius: 15px; */
	margin: 3px 2px;
	padding: 4px 10px;
	overflow-wrap: anywhere;
}
.f22__right-div div:nth-child(4) {
	text-align: center;
	border: none;
}
.f22__right-div div:nth-child(10) {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: none;
}
.f22__right-inactive {
	cursor: pointer;
	background: none;
}
.f22__right-active {
	cursor: pointer;
   background: var(--border);
   color: var(--invert);
}
.f22__right__delete {
	cursor: pointer;
	translate: 0 15px;
	transform: scale(3.4);
	height: 15px;
	width: 15px;
}
.f22__right__delete:hover > path:nth-child(1) {
	rotate: 30deg;
	translate: 5px -1px;
}
.f22__right__delete:hover > path:nth-child(2) {
	rotate: -5deg;
	translate: 2px 4px;
}
.f22__right__delete path {
	fill-rule: evenodd;
	fill: var(--color-text);
	translate: 1px 4px;
	transition: all .4s;
}
.f22__import, .f22__import-title, .f22__import-box {
	width: 100%;
}
.f22__import, .f22__import-box {
	height: 90%;
}
.f22__import-title {
	text-align: center;
}
.f22__import-box {
	display: flex;
	flex-direction: column;
	align-items: center;
   justify-content: center;
	border: 2px dashed var(--border-link);
	border-radius: 8px;
   font-size: 1.2em;
   background: var(--background-link);
	min-height: 100px;
}
.f22__import-box span {
	color: var(--color-link);
	cursor: pointer;
}
.f22__import-box span:active, .f22__import-box span:hover {
	text-decoration: underline;
}
.f22__admin {
	width: 100%;
}
.f22__admin__time {
	text-align: center;
	position: sticky;
	top: 10px;
	height: 20px;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: var(--border);
}
.f22__admin__date {
	display: grid;
	grid-gap: 10px 5px;
	align-items: center;
	justify-items: center;
	padding-top: 10px;
	font-size: 13px;
	position: sticky;
	top: 30px;
}
.f22__admin__date div {
	width: 100%;
	min-width: 10px;
	height: 10px;
}
.f22__admin__date-t {
	border: 1px solid var(--border);
}
.f22__admin__date-g {
	background: #0f0;
}
.f22__admin__date-b {
	background: #00f;
}
.f22__admin__date-r {
	background: #f00;
}
.f22__schedule {
	grid-column: 1 / 3;
	width: calc(100vw - 54px);
}
.f22__schedule-buttons {
	display: grid;
   grid-template-columns: repeat(3,1fr);
}
.f22__days-content {
	display: grid;
	grid-template-columns: 66px repeat(7,1fr);
	margin: 0 10px;
	text-align: center;
	color: #333;
	overflow-x: auto;
   background: var(--background-side);
}
.f22__days-day {
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid var(--border);
   border-bottom: 1px solid var(--border);
   padding: 0 5px;
	background: var(--background-main);
   overflow-wrap: break-word;
}
.f22__days-day-bg {
   transition: all .5s;
}
.f22__days-day-bg:hover {
   background: var(--hover);
}
.f22__days-day-bg:active {
   background: var(--active);
}
.f22__modal-background {
	background: #0006;
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;
	display: flex;
	padding: 40px 60px;
}
.f22__modal {
	background: var(--background-side);
	display: grid;
	grid-template: 
	"title 	button"  min-content
	"content content" 1fr
	/1fr min-content;
	grid-row-gap: 5px;
	align-items: center;
   width: 100%;
	padding: 10px;
	max-width: 900px;
	margin: auto;
	max-height: 550px;
	min-height: 60vh;
}
.f22__modal h2 {
	grid-area: title;
	padding-left: 43px;
}
.f22__modal input[type="button"] {
	grid-area: button;
	border-radius: 10px;
   padding: 5px 9px;
   font-weight: 900;
	cursor: pointer;
}
.f22__modal-content {
	grid-area: content;
	grid-template: 
	"name 		descript"	min-content
	"technical 	descript"	1fr
	"recomend	recomend"	1fr
	"complete 	complete"	min-content
	/min-content 1fr;
	column-gap: 10px;
	padding: 10px;
	width: 100%;
	height: 100%;
	background-color: var(--background-main);
	display: grid;
	align-items: center;
}
.f22__modal__name {
	grid-area: name;
	display: inline-flex;
	height: min-content;
}
.f22__modal__name-container {
	border-radius: 15px;
	border: 1px solid var(--border);
	width: 270px;
	display: inline-block;
	height: min-content;
	padding: 4px 8px;
}
.f22__modal__name-content {
	font-size: 1.05em;
	border: none;
}
.f22__modal__name svg {
	width: 25px;
	height: 25px;
	margin-left: 10px;
	cursor: pointer;
}
.f22__modal-technical {
	grid-area: technical;
}
.f22__modal-description {
	grid-area: descript;
}
.f22__modal-recomendation {
	grid-area: recomend;
}
.f22__modal-recomendation-content {
	margin: 8px;
	border: 1px solid var(--border);
	border-radius: 18px;
	padding: 4px 6px;
}
.f22__modal-complete {
	grid-area: complete;
	display: flex;
	align-items: center;
	justify-content: center;
}
.f22__modal-complete input {
	border-radius: 50px;
}
@media screen and (max-width: 850px) {
	.f22 {
		grid-template-columns: initial;
		Justify-content: center;
	}
	.f22__import-box {
		width: calc(100vw - 51px);
	}
}
@media screen and (max-width: 700px) {
	.f22__admin__time {
		height: min-content;
	}
	.f22__modal-content {
		grid-template: 
		"name "		min-content
		"descript"	6fr
		"technical"	5fr
		"recomend"	min-content
		"complete"	min-content
		/100%;
		grid-gap: 5px;
	}
	.f22__modal-background {
		padding: 0 30px;
	}
	.f22__days-day {
		font-size: .78em;
	}
	.f22__schedule-input {
		font-size: .85em;
		padding: 4px 6px;
	}
	.f22__modal__name {
		justify-content: center;
	}
}