.container {
   display: block;
}
.f20__editor {
	background: #fff;
	width: fit-content;
	margin: auto;
	margin-top: 50px;
}
.f20__editor div {
	background: #222;
	padding: 5px;
}
.f20__canvas {
	border: 1px solid #000;
	cursor: crosshair;
}
#f20__lw {
	width: 425px;
	height: 20px;
}
#f20__color {
	width: 60px;
	height: 40px;
}