.container {
  display: block;
	text-align: justify;
}
.publicacion {
  text-align: left;
  margin: 20px;
  animation: aparecer 1s forwards 0.5s;
  opacity: 0;
  display: grid;
  grid-template-columns: min-content 1fr 180px;
  justify-items: center;
	text-align: justify;
}
.publicacion p {
  padding: 5px 15px;
}
.publicacion h3 {
  border-bottom: 2px solid var(--border);
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
}
.text-center {
  margin: 20px;
}
.publicacion img {
  height: 150px;
  align-self: center;
}
.comentarios {
  display: flex;
}
.comentarios input {
  padding: 6px 0;
  border: none;
  background: #59e;
  color: #fff;
}
.comentarios input[type="text"] {
  flex-grow: 1;
}
.comentarios input[type="submit"] {
  min-width: 60px;
  font-weight: 700;
  font-family: monospace;
  cursor: pointer;
}
.comentarios input[type="text"]::placeholder {
  color: var(--color-text);
  text-shadow: none;
}

/* Contenedor del cubo */
.cube {
  position: relative;
  width: 140px;
  transform: rotateX(-30deg) rotateY(-45deg);
  transform-style: preserve-3d;
  translate: 10px 40px;
}
.cube__container {
	margin-top: -25px;
}
/* Cada cara del cubo */
.cube__face {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.9;
}
.cube__number {
	font-size: 1.7em;
	position: relative;
	color: #444;
	top: 50px;
	left: 50px;
	z-index: 1;
}
/* Colores y posiciones de cada cara */
.cube__face--front {
	transform: rotateX(90deg) translateZ(50px);
}
.cube__face--right {
	transform: rotateY(90deg) translateZ(50px);
}
.cube__face--left {
	transform: translateZ(50px);
}
.publicacion:nth-child(1) .cube__face--front, .publicacion:nth-child(5) .cube__face--front {
	background-color: #fdd;
}
.publicacion:nth-child(1) .cube__face--right, .publicacion:nth-child(5) .cube__face--right {
	background-color: #fcc;
}
.publicacion:nth-child(1) .cube__face--left, .publicacion:nth-child(5) .cube__face--left {
	background-color: #ebb;
}
.publicacion:nth-child(2) .cube__face--front {
	background-color: #ffd;
}
.publicacion:nth-child(2) .cube__face--right {
	background-color: #fec;
}
.publicacion:nth-child(2) .cube__face--left {
	background-color: #fea;
}
.publicacion:nth-child(3) .cube__face--front {
	background-color: #eff;
}
.publicacion:nth-child(3) .cube__face--right {
	background-color: #dee;
}
.publicacion:nth-child(3) .cube__face--left {
	background-color: #bcc;
}
.publicacion:nth-child(4) .cube__face--front {
	background-color: #fff2e5;
}
.publicacion:nth-child(4) .cube__face--right {
	background-color: #fed;
}
.publicacion:nth-child(4) .cube__face--left {
	background-color: #dcb;
}
ol {
	margin: 10px 50px 25px 50px;
	font-weight: bolder;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
