.container {
   display: block;
}
.f19 {
	display: flex;
}
.f19__add {
	margin-right: 10px;
	padding: 2px 6px;
	border-radius: 5%;
	height: min-content;
	border: 1px solid #666;
}
.f19__add-Div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.f19__add-Div input {
	padding: 5px 8px;
	border-radius: 18px;
	border: 1px solid var(--border);
	width: 180px;
   background: var(--background-input);
}
.f19__add-Div input::placeholder {
   background: var(--background-input);
}
.f19__add-Div input:focus-visible {
	outline-style: none;
}
.f19__add-date {
	text-align: center;
}
.f19__add-Div input[type="submit"] {
	margin: 4px 1px;
	width: 57.5px;
   cursor: pointer;
}
.f19__add-submit:hover {
	background: var(--hover);
}
.f19__add-submit:active {
	background: var(--active);
}
.f19__add__error-content {
	background: var(--err-background);
	border: 1px solid var(--err-border);
}
.f19__add-error, .f19__add-error h3 {
	color: var(--err-color);
}
.f19__add-error input {
	border-color: #a00;
/*	background: #300;
	color: #f77;*/
}
.f19__update {
	width: 100%;
}
.f19__update__head-container, .f19__update__saved-content {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 225px;
	/*75 * 3*/
}
.f19__update-div, .f19__update__header, .f19__update__title, .f19__update__save__title, .f19__update-optionsMaths,
.f19__update-optionsButtons, .f19__update-percentage, .f19__update__saved {
	display: grid;
	align-items: center;
	justify-items: center;
}
.f19__update-div {
	grid-template-columns: 10fr 1fr;
	padding: 10px 0;
	min-height: 75px;
	border-top: 1px solid var(--border);
}
.f19__update__header {
	grid-template-columns: repeat(3, 1fr);
	margin: 5px 0;
}
.f19__update__title, .f19__update__save__title {
	grid-template-columns: 28px 160px repeat(4, 1fr) 140px;
}
.f19__update__title, .f19__update__save__title, .f19__update__header-save, .f19__update__header-delete, .f19__update__save-save,
.f19__update__save-delete {
	font-weight: 600;
}
.f19__update-optionsMaths, .f19__update-optionsButtons {
	grid-template-columns: repeat(5, 1fr);
	text-align: center;
}
.f19__update__header h3 {
	text-align-last: center;
}
.f19__update__header-buttons {
	display: flex;
	justify-content: space-between;
}
.f19__update-main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100%;
}
.f19__update__header-svg, .f19__update__saved-svg, .f19__update__title-svg, .f19__update-finish, .f19__update-check {
	cursor: pointer;
	height: 22px;
	width: 25px;
}
.f19__update__saved-svg {
	transform: rotateZ(-90deg);
}
.f19__update__header-svg, .f19__update__saved-svg {
	justify-self: self-start;
	transition: transform .5s;
}
.f19__update-unLock, .f19__update-lock {
	fill: #ccc;
	transform: scale(2.2);
	stroke-width: .3;
	stroke: #222;
}
.f19__update-circleBack, .f19__update__save-circleBack, .f19__update-checkBack {
	fill: #ccc;
	transform: scale(1.8);
	stroke-width: .3;
	stroke: #000;
}
.f19__update-circleFront, .f19__update__save-circleFront, .f19__update-checkFront {
	transform: scale(1.8);
	stroke: none;
}
.f19__update-circleFront:active, .f19__update__save-circleFront:active, .f19__update-checkFront:active {
	fill: #aaa;
}
.f19__update-name {
	margin: auto 0;
	color: var(--color-title);
	outline-color: var(--border);
	width: 150px;
	text-align: center;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
}
.f19__update-percentage {
	grid-template-columns: repeat(2, 1fr);
}
.f19__update-percentageEntire {
	white-space: nowrap;
}
.f19__update-time {
	grid-column: 1 / 3;
}
.f19__update-percentageInput {
	width: 45px;
	border: none;
	background: #aaa5;
	text-align: end;
	border-radius: 50px;
	padding: 1px 5px;
}
.f19__update-percentageInput[disabled] {
	color: #999;
}
.f19__update-theProgressDiv {
	width: 100%;
	padding-right: 8px;
}
.f19__update-numberProgress {
	text-align: right;
}
.f19__update-containerProgress {
	display: flex;
	background: #253;
	border-radius: 15px;
	width: 100%;
	height: 25px;
	padding: 0 3px;
	align-items: center;
}
.f19__update-theProgress {
	height: 19px;
	border-radius: 15px;
	background: linear-gradient(90deg, #454, #1d1);
	animation: upLoad 3s forwards;
	min-width: 16px;
}
.f19__update-theProgress::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-size: 30px 30px;
	background-image: linear-gradient(135deg, #fff2 25%, transparent 25%,
		transparent 50%, #fff2 50%, #fff2 75%, transparent 75%, transparent);
	animation: animate-stripes 0.6s linear infinite;
	background-color: #000;
	opacity: 0.75;
	mix-blend-mode: overlay;
	border-radius: 50px
}
.f19__update-containerProgress:hover {
	border: 1px solid #000;
}
.f19__update-optionsButtons {
	grid-template-columns: repeat(2, 70px);
	grid-gap: 10px 0;
}
.f19__update__header-buttons button, .f19__update-toUpdate, .f19__update-toUpdated, .f19__update-save, .f19__update-saved,
.f19__update-delete {
	background: transparent;
	border: none;
	margin: 0 6px;
	cursor: pointer;
}
.f19__update-toUpdate, .f19__update-toUpdated {
	grid-column: 1 / 3;
}
.f19__update__header-save:hover, .f19__update__save-save:hover, .f19__update-save:hover {
	color: #4c8;
}
.f19__update__header-delete:hover, .f19__update__save-delete:hover, .f19__update-delete:hover {
	color: #c84;
}
.f19__update-toUpdate:hover {
	color: #48c;
}
.f19__update-saved, .f19__update-toUpdated {
	color: #999;
	cursor: default;
}
.f19__update__saved {
	grid-template-columns: repeat(3, 1fr);
	margin: 5px 0;
}
.f19__update__saved h3 {
	text-align-last: center;
}
@keyframes upLoad {
	0% {
		width: 0;
	}
}
@keyframes animate-stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 60px 0;
	}
}
@media screen and (max-width: 942px) {
	.flex, .f19 {
		flex-direction: column;
	}
	.f19 {
		align-items: center;
	}
	.f19__add {
		margin: initial;
		text-align: center;
	}
	.f19__update-div {
		height: 238px;
		grid-template-columns: none;
		justify-items: center;
		margin: 0 10px;
		width: 200px;
	}
	.f19__update__title, .f19__update__save__title {
		display: none;
	}
	.f19__update__head-container, .f19__update__saved-content {
		max-height: 476px;
		/*238 * 2*/
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.f19__update-optionsMaths {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.f19__update-main {
		grid-template-columns: repeat(3, 1fr);
	}
	.f19__update-name {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.f19__update-optionsButtons {
		grid-gap: initial;
		height: 60px;
	}
}