.container {
   display: block;
}
.textures {
	margin: 10px;
	border: 1px solid #000;
	border-radius: 5px;
	user-select: none;
}
.textures div {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 6px;
	user-select: all;
	cursor: pointer;
}
.textures div:active {
	opacity: .5;
}
.texture0 {background: url("img/textura0.png");}
.texture1 {background: url("img/textura1.png");}
.texture2 {background: url("img/textura2.png");}
.texture3 {background: url("img/textura3.png");}
.zone {
	margin: 10px;
	background: #ddd;
	height: 200px;
}