.container {
   display: block;
}
.f14__result {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-auto-rows: 100px;
	grid-gap: 6px;
}
.f14__result img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.f14__result img:first-child {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}
.f14__result img:nth-child(6) {
	grid-column: 2 / 4;
	grid-row: 3 / 5;
}
.f14__result img:nth-child(10) {
	grid-row: span 2;
}
.f14__result img:nth-child(22) {
	grid-row: span 2;
}
.f14__result img:nth-child(28) {
	grid-row: span 2;
}