.container {
   display: block;
}
.content {
	display: flex;
   align-items: center;
   justify-content: center;
	font-size: 1.2em;
	height: 150px;
	border: 4px dashed var(--border-link);
	background: var(--background-link);
}
.loading-bar {
	height: 142px;
	background: var(--color-title);
	position: absolute;
	left: 31px;
}
.load {
	z-index: 10;
	display: flex;
	flex-direction: column;
   align-items: center;
}
.load span {
	color: var(--color-link);
}
.load span:hover {
	cursor: pointer;
	text-decoration: underline;
}
.result15 {
	text-align: center;
	padding-top: 10px;
}
.img15 {
	margin: auto;
	width: 100%;
}
@keyframes aparecer {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}