.container {
   display: block;
}
.names {
	max-width: 800px;
	margin: auto;
	margin-top: 40px;
}
.name {
	display: grid;
	grid-template-columns: minmax(100px, 300px) 1fr;
	border-top: 1px solid #48e;
}
.options {
	display: flex;
	justify-self: end;
}
.add-names {
	margin-top: 40px;
	text-align: center;
}
#name, #add {
	padding: 4px 8px;
}
.options button {
	background: transparent;
	border: none;
	margin: 4px 10px;
}
#add, .delete {
	cursor: pointer;
}
.delete:hover {
	color: #fff;
}
.impossible {
	color: #777;
}
.possibly {
	color: #37d;
	cursor: pointer;
}
.possibly:hover {
	color: #6af;
}
.name h2 {
	padding: 6px;
	color: #48e;
	outline-color: #48e;
}
.noMore {
	padding: 30px;
}