.container {
   display: block;
}
.publicacion {
	text-align: left;
	margin: 20px;
	animation: aparecer 1s forwards .5s;
	opacity: 0;
}
.publicacion p {
	padding: 10px 20px;
	border-left: 2px solid #48e;
}
.publicacion h3 {
	color: #48e;
	border-bottom: 2px solid #48e;
	display: inline-block;
	padding: 0;
	margin-bottom: 0;
}
.comentarios {
	display: flex;
}
.comentarios input {
	padding: 6px 0;
	border: none;
	background: #59e;
	color: #fff;
}
.comentarios input[type="text"] {
	flex-grow: 1;
}
.comentarios input[type="submit"] {
	min-width: 60px;
	font-weight: 700;
	font-family: monospace;
	cursor: pointer;
}
.comentarios input[type="text"]::placeholder {
	color: var(--color-text);
	text-shadow: none;
}
@keyframes aparecer {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}