.container {
	display: block;
}
:root {
	--correct-0:  #1a2;
	--correct-1: #1d2;
}
html[data-theme="light"], html[data-theme="old"] {
	--main: #8bf;
	--back: #ace;
	--side: #aec;
	--text: #149;
}
html[data-theme="dark"] {
	--main: #333;
	--back: #555;
	--side: #aec;
	--text: #000;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/*min-height: 100vh;*/
	max-width: 100vw;
	min-width: 340px;
}
.content {
	display: flex;
	flex-wrap: wrap;
	background: var(--back);
	justify-content: center;
}
.joined-content {
	background: var(--side);
	margin: 0 20px 8px 20px;
	text-align: center;
}
.joined-content-items {
	display:  flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.joined-content h1 {
	color: var(--text);
}
.twice {
	margin: 5px 20px;
	background: var(--border);
	height: 2px;
}
.incorrect {
	color: var(--err-color);
}
.Group{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Group-items {
	background:  #fff;
	border-radius: 20px;
	display: flex;
	border:  1px solid #000;
	justify-content: center;
	align-items: center;
}
.Group-items input {
	color: #000;
	width: 300px;
}
.correct .Group-items {
	border: 1px solid var(--correct-1);
}
.incorrect .Group-items {
	border: 1px solid var(--err-border);
}
label, input {
	margin: 2px 0;
}
label {
	font-size: 18px;
}
.form {
	width:  100%;
	margin: 16px 20px;
	background: var(--main);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}
input {
	padding: 7px 10px;
	border: none;
	font-size: 16px;
	border-radius: 18px;
  background: none;
}
input[class="submit"], input[id="submit"] {
	border: 1px solid var(--border);
	margin: 10px;
	cursor: pointer;
}
input[class="submit"]:hover, input[id="submit"]:hover {
	background: var(--hover);
}
input[class="submit"]:active, input[id="submit"]:active {
	background: var(--active);
}
.input-error {
	display: none;
}
.input-error-activo {
	display: block;
	background: var(--err-background);
	color: var(--err-color);
	font-size: 15px;
	padding: 2px 6px;
	margin: 3px;
	border-radius: 50px;
	border: 1px solid var(--err-border);
}
.correct .Group-items i {
	color: var(--correct-0);
}
.incorrect .Group-items i {
	color: #f00;
}
.Group__checkbox {
	margin: 12px;
}
.form__error, .form__materia {
	display: none;
}
.form__error-activo, .form__materia-activo {
	display: inline-block;
	min-height: 45px;
	background: var(--err-background);
	padding: 12px 15px;
	border-radius: 3px;
	border: 1px solid var(--err-border);
	color: var(--err-color);
}
.form__error-activo i, .form__materia-activo i {
	margin: 0 10px;
}
.form__exito {
	display: none;
}
.form__exito-activo {
	padding: 10px 15px;
	border-radius: 3px;
	margin: 0 0 12px 0;
	background: var(--sucess-background);
	border: 1px solid var(--sucess-border);
	color: var(--sucess-color);
}
.joined {
	max-width: 360px;
	border: 1px solid #000;
	border-radius: 25px;
	margin: 12px 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.joined p {
	color: #000;
}
.deuda-input {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.deuda-input input {
	border-top: 2px solid var(--border);
	/* #48e */
}
.deuda-input input[type="submit"] {
	border-radius: 10px;
	width: 55%;
	margin-top: 18px;
	padding: 9px;
}
.deuda-input input[type="submit"]:hover {
	background: var(--hover);
}
@media screen and (max-width: 500px) {
	.content {
		background: none;
	}
	.form {
		margin: 0;
	}
	.deuda-input {
		flex-direction: column;
		align-items: center;
  }
}